{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="hero">
    <div class="in-hero d-flex justify-content-center align-items-center text-white text-center">
      <div class="row  d-flex justify-content-center align-items-center text-white text-center">
        <div class='col-12 h1'>Automated Vehicle Management System</div>
        <div class='col-8 my-3 h5 text-center px-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita suscipit sed asperiores fugiat, et inventore repellendus ducimus minima. Officiis, earum.</div>>
    </div>
  </div>
  </div>
</div>

<div class="main d-flex justify-content-center align-items-center">



<div class="container">
    <div class="row mb-5 mt-3 py-4 d-flex justify-content-center align-items-center">
        
        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
            <a href="{% url 'addpol' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-speedometer2" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                POL
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="75" data-aos-duration="1500">
            <a href="{% url 'requestVeh' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-layers-half" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Request Vehicle
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100" data-aos-duration="2000">
            <a href="{% url 'pendingReq' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-check-square" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Approvals
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
            <a href="{% url 'vehDetail' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-truck" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Vehicle Details
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="75" data-aos-duration="1500">
            <a href="{% url 'ncos' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-person-lines-fill" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                NCO List
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100" data-aos-duration="2000">
            <a href="{% url 'handingtaking' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-arrow-left-right" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Handing Taking
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
            <a href="{% url 'repairvehicle' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-tools" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Repair Vehicle Details
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-12 my-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="75" data-aos-duration="1500">
            <a href="{% url 'dailyReport' %}" class='links nav-link text-dark'>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <i class="bi bi-menu-button-wide-fill" style="font-size: 6rem;"></i>
            </div>
            <div class="col-12 h2 text-center">
                Daily Reports
            </div>
            <div class="col-12 h6 text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ipsam!
            </div>
        </a>
        </div>
        
    </div>
</div>
</div>

<!-- <div class="row col-7 justify-centent-center align-items-center my-4">
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        POL
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        Request Vehicle
    </a>
    <a href='' class="bg-dark col-md-12 py-5 mx-2 my-2 text-white text-center nav-link">
        Approvals
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        Vehicle Details
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        NCO List
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        Handing Taking
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        Repair Vehicle Details
    </a>
    <a href='' class="bg-dark col-md-12 mx-2 my-2 py-5 text-white text-center nav-link">
        Daily Reports
    </a>
    </div> -->
{% endblock %}